* {box-sizing: border-box;}

body {
  margin-left: 120px;
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 70px;
  font-size: 24px;
  line-height: 32px;
  background-color: #777;
  width: 960px;
  font-family: arial;
 }

header {
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  color: grey;
  background: #ebebeb;
}

nav {
  height: 80px;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  color: grey;
  background: #ebebeb;
}

section {
  color: grey;
  float: left;
  width: 495px;
  text-align: center;
  padding: 20px;
  height: 300px;
  margin-bottom: 20px;
  background: #ebebeb;
}

footer {
  color: grey;
  text-align: center;
  padding: 20px;
  clear: both;
  background: #ebebeb;
}

aside {
  color: grey;
  text-align: center;
  float: left;
  width: 455px;
  margin-left: 10px;
  height: 300px;
  padding: 10px;
  background: #ebebeb;
  border: 1px solid #eee;
}

article {
color: white;
display: inline-block;
float: bottom;
height: 210px;
width: 98%;
margin-top: 20px;
padding: 10px;
background: #777;
}

p {
color: grey;
float: bottom;
height: 50px;
padding: 5px;
text-align: center;
background: #ebebeb;
}

.headings {
font-weight: bold;
}




