* {box-sizing: border-box;}

body {
  font-size: 24px;
  line-height: 32px;
  color: #333;
}

header {
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

nav {
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

section {
  float: left;
  width: 50%;
  text-align: center;
  padding: 20px;
  height: 500px;
  margin-bottom: 20px;
  background: #ccc;
}

footer {
  text-align: center;
  padding: 20px;
  clear: both;
  background: #ccc;
}

aside {
  text-align: left;
  float: left;
  width: 45%;
  height: 500px;
  padding: 20px;
  margin-left: 30px;
  background: #fff;
  border: 1px solid #eee;
}

article {
display: inline-block;
float: bottom;
height: 375px;
width: 95%;
padding: 20px;
margin-left: 30px;
margin-right: 30px;
background: #A9A9A9;
}

h1 {
text-align: center;
float: top;
font-size: 18px;
font-style: bold;
}

h2 {
float: top;
text-align: left;
font-size: 15px;
font-style: italic;
background: #ccc;
}

h3 {
float: top;
text-align: left;
font-size: 13px:
font-style:italic;
background: #ccc;
}

p {
font-size: 15px;
}




